.git
.github
.gitignore
.gitattributes

node_modules
.next
out
dist
build

deploy
recovery-assets
scripts

.env
.env.*
!.env.example

.DS_Store
.idea
.vscode
*.log
npm-debug.log*

README.md
LICENSE
Dockerfile
.dockerignore

tsconfig.tsbuildinfo
coverage
